.profile-image{
    max-width: 150px;
    max-height: 150px;
    border: 2px solid #ff4081;
    border-radius: 50%;
}
.table {
    /* border-collapse: separate !important; */
   
}

.table tr td{
    padding: 20px 20px;
   
     border: 1px solid #e2e2e2;
  
}
.actions-center {
  display: flex;
  justify-content: center;
}