/* You can add global styles to this file, and also import other style files */
/* @import "bootstrap/dist/css/bootstrap.min.css"; */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}
/* 
.mat-app-background {
  background-color: #00e5ff !important;
} */

app-root {
  display: block;
  min-height: 100vh;
  background: #f5f5f5;
}

.ml20{
  margin-left: 20px!important;
}
.mr20{
    margin-right: 20px!important;
}
.mt20{
    margin-top:20px!important;
}
.mb20{
    margin-bottom: 20px!important;
}
/*1 */
.ml10{
  margin-left: 10px!important;
}
.mr10{
    margin-right: 10px!important;
}
.mt10{
    margin-top:10px!important;
}
.mb10{
    margin-bottom: 10px!important;
}
.all-side-mar{
    margin: 20px!important;
}
.all-side-pad{
    padding: 20px;
}
/* mat-toolbar button.mat-mdc-icon-button {
  outline: none;
  box-shadow: none;
} */




.mat-mdc-list-item {
  border: none !important;
  box-shadow: none !important;
}

.mat-mdc-list-item:focus,
.mat-mdc-list-item:focus-visible {
  outline: none !important;
}

