h3{
           color: green;
            text-align: center;
            font-size: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration-style: wavy;
            text-decoration: line-through;

}