<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   
     <bean  id="paymentservice" class="com.aadiandjava.PaymentService" autowire="byType">
<!--       <constructor-arg ref="debit"> </constructor-arg>
          
          
          <property name="Payment" ref="debit"></property>
 -->
     </bean>
     
     <bean  id="debit" class="com.aadiandjava.DebitCardPayment" ></bean>
     
     <bean  id="credit" class="com.aadiandjava.CreditCardPayment " primary="true"></bean>
     
</beans>